Source: swh-deposit
Maintainer: Software Heritage developers <swh-devel@inria.fr>
Section: python
Priority: optional
Build-Depends: debhelper (>= 9),
               dh-python (>= 2),
               python3-setuptools,
               python3-all,
               python3-nose,
               python3-django-nose,
               python3-vcversioner,
               python3-swh.core (>= 0.0.36~),
               python3-swh.model (>= 0.0.25~),
               python3-swh.loader.core (>= 0.0.32~),
               python3-swh.loader.tar (>= 0.0.35~),
               python3-swh.scheduler (>= 0.0.26~),
               python3-django,
               python3-click,
               python3-vcversioner,
               python3-djangorestframework,
               python3-djangorestframework-xml,
               python3-requests,
               python3-lxml,
               patool
Standards-Version: 3.9.6
Homepage: https://forge.softwareheritage.org/source/swh-deposit/

Package: python3-swh.deposit
Architecture: all
Depends: python3-swh.core (>= 0.0.36~),
         python3-swh.model (>= 0.0.25~),
         python3-swh.scheduler (>= 0.0.26~),
         patool,
         ${misc:Depends}, ${python3:Depends}
Description: Software Heritage Deposit Server

Package: python3-swh.deposit.client
Architecture: all
Depends: python3-swh.core (>= 0.0.36~),
         python3-swh.model (>= 0.0.25~),
         python3-requests,
         python3-lxml,
         ${misc:Depends}, ${python3:Depends}
Description: Software Heritage Deposit Api Client

Package: python3-swh.deposit.loader
Conflict: python3-swh.deposit.injection
Architecture: all
Depends: python3-swh.deposit.client (= ${binary:Version}),
         python3-swh.core (>= 0.0.36~),
         python3-swh.model (>= 0.0.25~),
         python3-swh.loader.core (>= 0.0.32~),
         python3-swh.loader.tar (>= 0.0.35~),
         python3-swh.scheduler (>= 0.0.26~),
         ${misc:Depends}, ${python3:Depends}
Description: Software Heritage Deposit Loader
